<mat-toolbar color="primary">
    <span>FayJones</span>

    <span class="spacer"></span>

    <span>
        <ul>
            <li>
                <a mat-button routerLink="/create" routerLinkActive="mat-accent">Create Todo</a>
            </li>
            <li>
                <a  mat-button routerLink="/" >View Todos</a>
            </li>
            
        </ul>
    </span>

    <span>
        <ul>
            <li>
                <a mat-button routerLink="/create">Create Todo</a>
            </li>
            <li>
                <a  mat-button routerLink="/">View Todos</a>
            </li>
            
        </ul>
    </span>
    

</mat-toolbar>