<!-- <textarea rows="6" [value]="newToDo" #todoInput></textarea> -->
<!-- <textarea rows="6" [(ngModel)]="enteredValue"></textarea> -->
<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSaveTodo(todoForm)" #todoForm="ngForm" *ngIf="!isLoading">

        <mat-form-field>
            <mat-label>Task Title</mat-label>
            <input
             matInput
             type="text"
             name="title"
             [ngModel]="todo?.title"
             required
             #title="ngModel">
             <mat-error *ngIf="title.invalid">Enter corrent title</mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label>Description of Task</mat-label>
            <textarea
             matInput
             rows="6"
             name="content"
             [ngModel]="todo?.content"
             required
             #content="ngModel"></textarea>
             <mat-error *ngIf="content.invalid">Enter corrent content</mat-error>

        </mat-form-field>
    
    
                
    
        <button
            mat-raised-button
            color="accent"
            type="submit">Save Todo
        </button>

    </form>
    
</mat-card>

<p> {{ newToDo }}</p>
