<div style="height: 90vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true">
        <!-- fxHide.gt-sm -->
        <mat-icon>menu</mat-icon>
      </button>
      <span>FJLRS</span>
      <span class="spacer"></span>

  <button mat-button
      *ngIf="!userIsAuthenticated"
      [routerLink]="['/auth/login']">Login</button>

  <button mat-button
      *ngIf="userIsAuthenticated"
      (click)="onLogout()">Logout</button>


    </mat-toolbar-row>
  </mat-toolbar>




  <!--  collapasable sidebar nav Content-->
  <mat-sidenav-container >
    <mat-sidenav #sidenav>

      <mat-nav-list>
        <a *ngIf="userIsAuthenticated"  [routerLink]="['/']" mat-list-item>Home</a>


        <a *ngIf="!userIsAuthenticated"  [routerLink]="['/auth/login']" mat-list-item>Login</a>
        <a *ngIf="userIsAuthenticated" (click)="onLogout()" mat-list-item>Logout</a>
        <a mat-list-item>Contact Admin</a>
        <a (click)="sidenav.toggle()"  mat-list-item>Close Nav</a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>