
<div fxLayout="row" >
        <h1 style="text-align: center" fxFlex>System Admin Panel</h1>

        

</div>

<div fxLayout="row" fxLayoutAlign="center stretch">
    <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Overview">test content here</mat-tab>
            <mat-tab label="News Postings"><app-news-create></app-news-create></mat-tab>
            <mat-tab label="Schedule">second content here</mat-tab>

            <mat-tab label="Send Alerts">second content here</mat-tab>


    </mat-tab-group>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayoutGap="7px">
    <p>here</p>
</div>

<div fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayout.xs="column" fxLayoutGap="7px">
    <p>here</p>
        
</div>